@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model TimeKeeper.Ui.ViewModels.AddDeviationViewModel;



<h3>Add new deviation</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Deviation.DeviationTypeId" class="control-label">Deviation</label>
                <select asp-for="@Model.Deviation.DeviationTypeId" class="form-control" asp-items="@Model.SelectDeviations">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="@Model.Deviation.DeviationTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Deviation.DayInMonth" class="control-label">Day</label>
                <select asp-for="@Model.Deviation.DayInMonth" class="form-control" asp-items="@Model.SelectDaysInMonth">
                    <option value="">Please Select</option>
                </select>
                <span asp-validation-for="@Model.Deviation.DayInMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Deviation.StartTime" class="control-label">From</label>
                <input asp-for="@Model.Deviation.StartTime" class="form-control" />
                <span asp-validation-for="@Model.Deviation.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Deviation.StopTime" class="control-label">To</label>
                <input asp-for="@Model.Deviation.StopTime" class="form-control" />
                <span asp-validation-for="@Model.Deviation.StopTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Deviation.Comment" class="control-label">Comment</label>
                <input asp-for="@Model.Deviation.Comment" type="text" class="form-control" />
                <span asp-validation-for="@Model.Deviation.Comment" class="text-danger"></span>
            </div>
            <div>
                <input type="hidden" asp-for="@Model.Deviation.RequestedDate" />
                <input type="hidden" asp-for="@Model.Deviation.WorkMonthId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-sm btn-primary" /> |
                <a class="btn-sm btn-success" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>