@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TimeKeeper.Service.Dto.WorkMonthDto

@DateTime.Parse(@ViewData["DateShown"].ToString()).Year

<div><a asp-action="Index" asp-route-changeMonth="-1" asp-route-currentShownDate=@ViewData["DateShown"]><</a> @Model.NormalizedMonthName <a asp-action="Index" asp-route-changeMonth="1" asp-route-currentShownDate=@ViewData["DateShown"]>></a></div>
<a class="btn-sm btn-primary" asp-action="Add" asp-controller="Time" asp-route-currentShownDate=@ViewData["DateShown"] asp-route-monthId=@Model.Id>New Deviation</a>
<hr />
@foreach (var d in Model.Deviations)
{
    <div style="font-size:10px">
        <div>@d.DeviationType.InfoText</div>
        <div>@d.NormalizedWeekDay</div>
        <div>@d.StartTime - @d.StopTime</div>
        <div>@d.Comment</div>

    </div>
    <hr />
}
